<div class="h-screen flex items-center flex-col justify-center text-zinc-800">
    <h3 class="text-9xl font-extrabold active quality_tagline">
        <span class="text-red-500">QUALITY</span> HELPS
    </h3>
    <h3 class="text-9xl font-extrabold quality_tagline">
        build <span class="text-red-500">winners,</span>
    </h3>
    <h3 class="text-9xl font-extrabold quality_tagline">show the world</h3>
    <h3 class="text-9xl font-extrabold quality_tagline">
        you are <span class="text-red-500">unique</span>
    </h3>
</div>

<style>
    h3 {
        transition: opacity 0.5s ease-in-out;
    }
    h3:not(.active) {
        opacity: 0.2;
    }
</style>

<script>
    const h3 = document.querySelectorAll(".quality_tagline");
    // toggle the active class on each h3 based on scroll
    window.addEventListener("scroll", () => {
        h3.forEach((h) => {
            // if the top of the h3 is less than half of the window height
            // add the active class
            if (h.getBoundingClientRect().top < (3 * window.innerHeight) / 5) {
                h.classList.add("active");
            } else {
                h.classList.remove("active");
            }
        });
    });
</script>
