---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner/index.astro";
---

<Layout title="Welcome to Astro.">
	<main id="content">
		<Banner />
	</main>
</Layout>

<script>
	window.addEventListener("scroll", function () {
		// Get the current scroll position
		var scrollTop =
			window.pageYOffset || document.documentElement.scrollTop;

		// Slow down the scroll speed
		var slowScroll = scrollTop / 2;

		// Apply the scroll position to the content element
		document.getElementById("content").style.transform =
			"translateY(" + slowScroll + "px)";
	});
</script>
