---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner/index.astro";
import DigitalExperience from "../components/DigitalExperience/index.astro";
import QualityTagline from "../components/QualityTagline/index.astro";
import ProjectGrid from "../components/ProjectGrid/index.astro";
import InfiniteScroller from "../components/InfiniteScroller/index.astro";
import JoinTheFamily from "../components/JoinTheFamily.astro";
import Footer from "../components/Footer/index.astro";
---

<Layout title="Dhruv Bakshi - Fullstack | Frontend | Backend">
    <main id="content">
        <Banner />
        <DigitalExperience />
        <QualityTagline />
        <ProjectGrid />
        <InfiniteScroller />
        <div class="h-[100px]"></div>
        <JoinTheFamily />
        <Footer />
    </main>
</Layout>

<script>
    import LocomotiveScroll from "locomotive-scroll";

    const scroll = new LocomotiveScroll();
</script>
