---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner/index.astro";
import DigitalExperience from "../components/DigitalExperience/index.astro";
import QualityTagline from "../components/QualityTagline/index.astro";
import ProjectGrid from "../components/ProjectGrid/index.astro";
---

<Layout title="Welcome to Astro.">
	<main id="content">
		<Banner />
		<DigitalExperience />
		<QualityTagline />
		<ProjectGrid />
	</main>
</Layout>

<script>
	window.addEventListener("scroll", function () {
		// Get the current scroll position
		var scrollTop =
			window.pageYOffset || document.documentElement.scrollTop;

		// Slow down the scroll speed
		var slowScroll = scrollTop / 2;

		// Apply the scroll position to the content element
		document.getElementById("content")!.style.transform =
			"translateY(" + slowScroll + "px)";
	});
</script>
