<div class="flex space-x-8 text-9xl font-extrabold">
    <h3 class="translate-x-[40vw] banner_line">
        <div class="flex items-end space-x-7">
            <span>TOGETHER?</span>
            <img src="/assets/dying_skull.jpg" class="h-[6rem]" />
        </div>
    </h3>
</div>

<style>
    h3::after {
        content: "TOGETHER? TOGETHER? TOGETHER? TOGETHER?";
    }
    @keyframes floating {
        0% {
            transform: translate(0, -5px) rotate(-1deg);
        }
        50% {
            transform: translate(0, 15px) rotate(15deg);
        }
        100% {
            transform: translate(0, -5px) rotate(-1deg);
        }
    }
    img {
        animation: floating 5s ease-in-out infinite;
    }
</style>
