.cursor {
    position: fixed;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    pointer-events: none;
    transition: all 0.3s ease-out;
    mix-blend-mode: difference;
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    .cursor {
        display: none;
    }
}

body {
    cursor: none;
}

.cursor--entry {
    animation: cursor-entry 1s ease-out;
}

@keyframes cursor-entry {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(4);
    }
    100% {
        transform: scale(1);
    }
}
